/* Main page setup */

body {
    display: flex;
    justify-content: center;
}

/* Main data layout */

#container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 5%;
    padding: 1%;
    height: 80%;
    width: 80%;
}

/* Navigation Menu/Buttons Styling */

#navMenu {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: medium;
}

/* Shopping Cart Button */

.cartButton {
    height: 30%;
    width: 30%;
    text-align: center;
    position: relative;
    right: -57%;
    padding: 1%;
}

/* Layout Features */

#topBox {
    display: flex;
}

input[type='image'] {
    height: 80%;
    width: 20%;
}

.productImageBox {
    border: 2px solid black;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#productImage {
    height: 100%;
    width: 100%;
    border-radius: 15%; 
}

.productInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content:space-between;
}

.productDetails {
    width: 100%;
}

.productName {
    font-size: xx-large;
    margin-bottom: 0%;
}

.productOwner {
    font-size: x-small;
    padding: 0%;
}

/* Button Styling and Affects */

.buttons {
    display: flex;
    justify-content:space-around;
    padding: 10%;
}

#buttonAffect:hover,
#buttonAffect:hover {
    background-color: lemonchiffon;
    text-decoration: none;
    cursor: pointer;
}

/* Font Styling */

h1 {
    font-size: large;
    margin: 0%;
    padding: 0%;
}

h2 {
    font-family: 'Uchen', serif;
    font-size: large;
    font-weight: 400;
    margin: 0%;
    padding: 0%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-style: italic;
    font-weight: lighter;
    margin: 0%;
    padding: 0%;
}

h4 {
    font-family: 'Uchen', serif;
    font-style: oblique;
    font-size: large;
    margin: 0%;
    padding: 0%;
}

h5 {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: xx-large;
    margin: 0%;
    padding: 0%;
}

li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.priceColor {
    color: red;
}

.priceSavings {
    color: blue;
}

/* Modal (background) */
.modal {
    display: block;
    width: 90%;
    height: 80%;
    position:fixed;
    top: 10%;
    left: 9%;
    visibility: hidden; /*Hidden by default */
}

/* Modal Content Box */

#modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: lemonchiffon;
    border: 3px solid orange;
    overflow: scroll;
}

/* The Close Button */

#close {
    align-self: flex-end;
    color: black;
    font-size: 20px;
    
}

#close:hover,
#close:focus {
    color: #5cf;
    text-decoration: none;
    cursor: pointer;
}

/* Shopping Cart Data Added */

.shoppingCartItem {
    background-color: lemonchiffon;
    display: inline-flex;
    justify-content:space-around;
    font-size: small;

}

#cartImage {
    height: 200px;
    width: 200px;
    border-radius: 15%;
    border: 2px solid black;
}